In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("pokemon.csv")

In [5]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
data.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
data["Speed"].mean()

68.2775

In [14]:
speed_mean = data["Speed"].mean()

In [17]:
def set_speed(val):
    if val < speed_mean:
        return "Speed_low"
    elif val == speed_mean:
        return "Speed_ neutral"
    else:
        return "speed_high"

In [21]:
data["Speed_high_low"] = data["Speed"].apply(set_speed)

In [22]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Speed_low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Speed_low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,speed_high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,speed_high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Speed_low

In [24]:
data["HP"].mean()

69.25875

In [25]:
HP_mean = data["HP"].mean()

In [28]:
def set_HP (val):
    if val < HP_mean:
        return "HP_low"
    elif val == HP_mean:
        return "HP_neutral"
    else:
        return "HP_high"

In [29]:
data["HP_high_low"] = data["HP"].apply(set_HP)

In [30]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Speed_high_low,HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Speed_low,HP_low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Speed_low,HP_low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,speed_high,HP_high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,speed_high,HP_high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Speed_low,HP_low